body{
  background: black;
  color:white;
}

.navbar{
  height:70px;
  width:100%;
  background: white;

  img{
    height:100%;
    width:13%;
  }
}

.timeContainer{
text-align: center;
border: 1px solid black;
margin-top: 25%;
}

.start{
  text-align: center;
}

.second{
}

.minute{
}

.hour{
}

.hidden{
  display: none;
}

.inline{
  display: inline;
}
