.timeContainer{
text-align: center;
border: 1px solid black;
margin-top: 25%;
}

.start{
  text-align: center;
}

.second{
}

.minute{
}

.hour{
}

.hidden{
  display: none;
}

.inline{
  display: inline;
}
