body{
  background: black;
  color:white;
}

.navbar{
  height:70px;
  width:100%;
  background: white;
  font-family: 'Montserrat', sans-serif;
  color:#777776;

  .snitchTitle{
    padding-top: 3.5%;
    padding-left: 45%;
  }

  img{
    height:100%;
    width:13%;
    float:left;
  }
}

.timeContainer{
text-align: center;
border: 1px solid black;
margin-top: 15%;
font-size: 800%;
font-family: 'Montserrat', sans-serif;
color:white;
}

.start{
  text-align: center;
  margin-top: 10%;
  font-size: 150%;
  font-family: 'Montserrat', sans-serif;
  color:white;
}

.second{
}

.minute{
}

.hour{
}

.hidden{
  display: none;
}

.inline{
  display: inline;
}
